<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

<style type="text/css">

html {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
}

a, 
a:visited,
em,
li::marker {
  color: #a0aec0; 
}

h1, 
h2 {
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

hr {
  height: 0.05rem;
}

dt {
  float: left;
  margin-top: 0;
  width: 7rem;
}

dd {
  margin-left: 7rem;
}

ul {
  margin-bottom: 1rem;
}

p {
  margin-top:0;
}

em {
  font-style: normal;
}

</style>
